# Supabase（お問い合わせデータ保存）
SUPABASE_URL=https://nlnzgluxpcljrkbzgfal.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5sbnpnbHV4cGNsanJrYnpnZmFsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjMyNDc2MSwiZXhwIjoyMDkxOTAwNzYxfQ.7bIXT7NxIA6BB3nT9ii7nt4tIwVa5jL_ihUXO6FmJBc

# Resend（メール送信）
RESEND_API_KEY=re_4QufzizV_MGgoVTEAmetomZkUgDyyHRrH
MAIL_FROM=noreply@creatorpot.net
MAIL_ADMIN=account@creatorpot.net
